snippet match_map_with_value_ex
	%{:${1:key} => ${2:value}}

snippet match_any_map_ex
	%{}

snippet match_empty_list_ex
	[]

snippet match_non_empty_list_ex
	[head|tail]

snippet match_substring_ex
	"${1:substring}" <> _rest

snippet match_charlist_substring_ex
	'${1:substring}' ++ _rest

snippet match_charlist_substring_ex
	'${1:substring}' ++ _rest
