snippet spec_ex
	@spec ${1:Func.Name}(${2:term}) :: ${3:no_return}

snippet type_ex
	@type ${1:t} :: ${2:term}

snippet type_list_ex
	term
	any
	binary
	bitstring
	boolean
	byte
	char
	number
	non_neg_integer
	pos_integer
	neg_integer
	char_list
	list
	nonempty_list
	iodata
	iolist
	module
	mfa
	arity
	node
	timeout
	fun
	pid
