snippet describe
	describe("${1:feature}", () => {
		${2}
	});

snippet it
	it("${1:should do something}", () => {
		${2}
	});

snippet beforeEach
	beforeEach(() => {
		${1}
	});

snippet afterEach
	afterEach(() => {
		${1}
	});
